.chart-actions {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 10px;
	position: relative;
}

.chart-actions i {
	cursor: pointer;
	/* Change cursor to pointer to indicate clickable icons */
	font-size: 20px; 
	color: #333; 
}
.chart-actions {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.chart-actions i {
	font-size: 15px;
	margin-left: 10px;
	cursor: pointer;
}

.dataToggles {
	margin-bottom: 20px;
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin-left: 250px;
	z-index: 2;
}

.custom-export-icon {
	font-size: 24px;
	cursor: pointer;
}

.box {
	width: 100px;
}
#jobCategories {
	margin-top: 10px;
}
#company {
	margin-top: 10px;
}



 #dataToggleBoxss {
            z-index: 2;
            background-color: rgb(255, 255, 255);
            width: 350px;
            margin-top :30px !important;
           display:none; 
           margin-left:180px!important;
           position: absolute;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(211, 210, 210);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: left;
        }
        td {
            padding: 10px;
        }
        .dropdo {
            width: 200px;
            height: 30px;
        }
        .button-container {
            margin-right: 20px;
            
            text-align: center; /* Center-aligns the content inside */
            padding: 1px; /* Adds some padding around the button container */
        }
        .button-container button {
            margin: 0 5px; /* Adds some space between the buttons */
        }